<div class="appHeader">

    <img src="./img/icon/dvd.jpeg" width="64px" height="64px">
    <ul>
        <li><a href="index">home</a></li>
        <li><a href="#">dvds</a></li>
        <li><a href="#">borrow</a></li>
        <li><a href="#">request</a></li>
        <li><a href="todo">todo</a></li>
    </ul>

</div>