<% page = { 'title' : 'Overview: Home', 'key': 'OVERVIEW_PAGE_NAME'} %>
<% assets = { 'css' : ['common.css','overview/home.css'], 'js' : ['overview/home.js'] } %>

<%- partial('partials/overview-nav') %>

<img class="pageLogo" src="<%- img('guild.jpeg') %>" alt="Guild" />
<section>
  <h3>FamilySearch Web Development Guild</h3>
  <blockquote>"We want and we must excel
    at scholarship and
    craftsmanship."
    Dieter F. Uchtdorf, Your Potential, Your Privilege</blockquote>
  <p>
    As professional Web Developers we are responsible to develop a set of core skills that when combined with divine help will allow us to deliver world class products.  We have identified those skills to be HTML, CSS, JavaScript, Testing and Performance, and Frontier.
  </p>
  <p>
    To help in our skills development, we have created a FamilySearch Web Development Guild.  The guild provides a framework for our learning and advancement.  Below we provide a list of skill levels, their definitions, and what is required to attain them.
  </p>

  <img src="<%- img('guildPyramid.png') %>" alt="Guild Pyramid" />

  <h3>FamilySearch Guild Achievement Levels:</h3>
  <ul>
    <li>
        <h4>Apprentice</h4>
        <p>
          An apprentice is concerned about understanding and remembering.  We will recommend material to study and tutorials you can take.  As a way to capture your leaning and to demonstrate your skills, you will be asked to start a portfolio of your examples.  Through this work, an apprentice will demonstrate their knowledge of core concepts and ability to perform basic skills.  As an alternative to portfolio work, a developer can use previous projects or production work to satisfy all or part of these requirements.  Previous work needs to be reviewed and approved.
        </p>
    </li>
    <li>
      <h4>Journeman</h4>
      <p>
        A journeyman is actively applying their knowledge in daily production work and in new and creative ways.  You will have the chance to continue to demonstrate your ability as you add to your portfolio. Through additional work, a journeyman will demonstrate their knowledge of advanced concepts and ability to perform production level tasks.  We expect all of our engineers to become journeymen over time.  As an alternative to portfolio work, a developer can use previous project or production work to satisfy all or part of these requirements.  Previous work needs to be reviewed and approved.
      </p>
    </li>
    <li>
      <h4>Master</h4>
      <p>
        A master is one who has mastered the fundamental and advanced concepts of the skill area and is very skilled in their application.  They are a teacher and a mentor.  They often act in an architectural role helping to define our work patterns and in recommending technologies.  We rely on their judgment to help advance the discipline.
        If you desire to reach for this level, you would choose one or more areas of advanced study related to our work in FamilySearch and present a study plan.  In addition, you would choose a project that advances our front-end technologies and present a work plan.  It would be expected that this level would take a significant amount of calendar time because of the need to demonstrate both teaching and mentoring.
      </p>
    </li>
  </ul>

  <blockquote>
    "I try to remember that I am doing His work and as such I am entitled to receive divine help that may quicken my mind and enhance my natural abilities to do that which today may seem impossible.  When I live worthily and seek out experiences that invite the spirit of the Lord into my life, I feel empowered to do greater things and desire to live more fully by faith."
    Leadership Team
  </blockquote>

</section>

<section>
  <h3>Building Your Skills</h3>
  <p>To be a successful web developer and to provide the greatest value to our important work, we have to build proficiency with a number of core skills including:</p>
  <ul>
    <li><a href="/frontier/home" title="Frontier Home">Frontier Development Stack</a></li>
    <li><a href="/h5c3/home" title="H5C3 Home">HTML5/CSS3</a></li>
    <li><a href="/javascript/home" title="Javascript Home">JavaScript</a></li>
    <li><a href="/qa/home" title="QA Home">Testing and Performance</a></li>
  </ul>
  <p>There is no order implied for learning these skills. They are mostly independent and can be worked on concurrently or sequentially.  One might want to start with the Frontier stack and build out a basic web app that can then be used to demonstrate other project work.</p>

  <h4>Learning Time</h4>
  <p>We have permission to allow you to spend up to 10% of your work time on training.  For every 8 hour day that you work, you can spend up to 45 minutes in learning activities.  It might be helpful to save that time up and use it in larger blocks.  You will need to plan your learning into your schedule in such a way as to minimize its impact on your story work.</p>
  <p>You might want to envision your project before you get started.  It can guide the examples you choose to demonstrate skills.  It's best if the parts integrate well into a single cohesive project.  It will be a better representation of you and your work.</p>

  <h4>FamilySearch Web Developer Ninja</h4>
  <p>After a developer has earned all four journeyman badges for the four core skills, they become <b>FamilySearch Web Developer Ninja</b> certified.  This honor means that they have qualified at a professional level, capable of producing high quality, well tested, and performant code.  It also indicates that they understand and have experience with our Frontier Web Stack.</p>
  <p>Below is an example of a score card used to track your progress.  Your manager will maintain a card like this and will sign off or authorize others to sign off on each requirement.  There is also an optional Microsoft Professional certification you can receive by taking an examination. </p>

  <h4>Score Card</h4>
  <img src="<%- img('scorecard.png') %>" alt="Score Card" />
</section>












