<% page = { 'title' : 'PAGE_TITLE', 'key': 'JAVASCRIPT_PAGE_NAME'} %>
<% assets = { 'css' : ['common.css','javascript/webworkers.css'], 'js' : ['javascript/webworkers.js'] } %>

<%- partial('partials/javascript-nav') %>

<section class="main">

  <p>The highest prime number discovered so far: <span class="primenum"></span></p>

  <p>Number of prime numbers found: <span class="primescnt"></span></p>

  <p>Last command: <span class="command"></span> </p>


  <button class="startBtn" onclick="startPrimeNumberSearch()">Start</button>
  <button class="pauseBtn" onclick="pauseResumePrimeNumberSearch()">Pause</button>
  <button class="stopBtn" onclick="stopPrimeNumberSearch()">Stop</button>
  <button class="speedUpBtn" onclick="speedUpPrimeNumberSearch()">2x Speed Up</button>
  <button class="slowDownBtn" onclick="slowDownPrimeNumberSearch()">2x Slow Down</button>
  <button class="disableBtn" onclick="disableWorker()">Disable Worker</button>

</section>
