.appHeader {
  margin:0;
  padding:0;
  display:inline;
}

.appHeader ul {
  list-style: none;
}

.appHeader img,
.appHeader ul li {
  float: left;
  margin-right: 20px;
}

.appFooter {
  margin-top: 20px;
  text-align: center;
}