<% page = { 'title' : 'Frontier: Experiments', 'key': 'FRONTIER_PAGE_NAME'} %>
<% assets = { 'css' : ['common.css','frontier/experiments.css'], 'js' : ['frontier/experiments.js'] } %>

<%- partial('partials/frontier-nav') %>

	<p>I have added an experiment to turn one or off the "custom tag directive" coded as part of the Directive exercise (see previous tab).</p>
	<p>You can turn the experiment on and off by adding "?listEx" to the end of the page Directive page url.</p>

